.containerhome{
    display: flex;
    width: 100%;
    max-width: 124rem;
    
}

.containerCards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    border: 0.3 solid #f00;
    height: 45vh;
}