h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h3{
    font-size: 22px;
}
p {
    font-size: 16px;
}
body{
display:flex;
justify-content: center;
align-items: center;
margin: 10px;
/* justify-content: center */
/* heigh: 100vh */

}